p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.chart__grid {
  stroke: #e7eef4;
  opacity: 0.3;
}
svg {
  font: 10px sans-serif;
}
